html body {
  background-color: honeydew;
}

.row {
  align-items: center;
}

.container div {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cell {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  height: 10px;
  width: 10px;
}

/* COLORS */

.color-palette {
  margin: 10px;
}

.color-palette div {
  height: 30px;
  width: 30px;
  border-style: solid;
  border-radius: 50%;
}
.color-palette input {
  height: 30px;
  width: 30px;
  border-radius:50%;
}

#colorIndicator {
  height: 30px;
  width: 30px;
  border-style: solid;
}
