.cellGrid {
  margin: 20px;
}

.cell {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  height: 10px;
  width: 10px;
  /* padding: 1px; */
  /* margin: .5px; */
}

/* COLORS */
.color-palette {
  margin: 10px;
}

.color-palette div {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-radius: 50%;
}
#colorIndicator {
  height: 50px;
  width: 50px;
  border-style: solid;
}
